<div class="container ">
    <div class="container-inner">
        <div class="spacing" data-fade-in="">
            <div class="testimonial-quote" data-testimonial-quote="true">
                <div class="testimonial-quote__body">
                    <div class="testimonial-quote__subject">
                        <div class="testimonial-quote__cursor"><svg class="live-cursor__pointer" fill="none" height="21" viewbox="0 0 19 21" width="19" xmlns="http://www.w3.org/2000/svg">
                                <g filter="url(#cursor-shadow)">
                                    <path d="M14.6483 10.3184C14.9501 10.1014 14.9179 9.64266 14.5888 9.46986L4.31192 4.07377C3.94713 3.88223 3.52022 4.18936 3.58586 4.59612L5.4351 16.0553C5.49432 16.4222 5.91899 16.5985 6.22072 16.3815L14.6483 10.3184Z" fill="currentColor" stroke-width="1" stroke="white"></path>
                                </g>
                            </svg>
                            <div class="testimonial-quote__photo"><img alt="Nick Ionita" data-src="https://res.cloudinary.com/pitch-software/image/upload/f_auto/website-images/customer%20quotes/nick-ionita.jpg"></div>
                        </div>
                        <div class="testimonial-quote__headline">
                            <div><span class="testimonial-quote__name">Nick Ionita, </span><span class="testimonial-quote__role">CEO and Co-Founder</span></div>
                        </div>
                        <img alt="Nick Ionita" src="https://res.cloudinary.com/pitch-software/image/upload/v1620911541/website-images/customer%20quotes/flux-vector_xvrezb.svg" class="testimonial-quote__logo">
                    </div>
                    <div class="testimonial-quote__content">
                        <div class="testimonial-quote__text">“Pitch strikes the perfect balance between design guardrails and flexibility. They’ve brought everything I expect in a modern collaboration tool to presentations and it’s awesome!”</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>