<!-- Wappler include head-page="registro-empresa" appConnect="local" is="dmx-app" bootstrap5="cdn" bootstrap_icons="cdn" fontawesome_4="cdn" framework7_icons="local" jquery_slim_35="cdn" -->
<div class="invite">
    <div class="invite container-fluid top-margin-120">
        <div class="invite__center center">
            <div class="invite__container d-flex">
                <div class="invite__bg"></div>
                <div class="invite__wrap">
                    <h2 class="invite__title d1" data-aos="animation-scale-top" data-aos-duration="600">Comience su hoy su empresa en USA&nbsp;</h2>
                    <p class="invite__text">No espere más por el negocio de sus sueños. Comience su proceso en línea o contáctenos para comenzar su empresa.&nbsp;</p><button class="invite__btn btn btn_orange" dmx-on:click="browser1.goto('planes')">Comience Ahora</button>
                </div>
                <div class="invite__gallery">
                    <div class="invite__preview">
                        <img src="img/figures-7.1-opt.png" alt="" loading="lazy">
                    </div>
                    <div class="invite__preview" data-aos="animation-translate-down" data-aos-duration="800">
                        <img src="solo/img/figures-2.3.png" alt="" loading="lazy">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>