<!-- Wappler include head-page="file:///Users/juanpabloravelo/Desktop/Wappler/Contucarga/public/inertia/dist/index-agency.html" appConnect="local" is="dmx-app" bootstrap5="cdn" -->
<div class="container text-center">
    <h2 class="text-darkblue">Juan Pablo Ravelo <%=_('title',locals)%>

    </h2>
    <div class="svg-icon svg-icon-xl text-purple">
        <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
            <title>ionicons-v5-e</title>
            <line x1="400" y1="256" x2="112" y2="256" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
        </svg>
    </div>
    <p class="text-secondary w-lg-60 mx-auto mt-2">Best Marketer Ever <%=_('parragraph',locals)%>
    </p>

</div>