<!-- Wappler include head-page="home" appConnect="local" is="dmx-app" bootstrap5="cdn" -->
<div class="footer container-fluid">
    <div class="footer__center center">
        <div class="footer__body">
            <div class="footer__wrap">
                <a class="footer__logo" href="/">
                    <img class="footer__pic footer__pic_dark" src="img/Logo.png" alt="" />
                </a>
                <div class="footer__text">Únase al grupo de personas que han elegido comenzar y gestionar su empresa de forma más sencilla.</div>
            </div>
            <div class="footer__line">
                <div class="footer__downloads"><a class="footer__download" href="#"></a></div>
                <div class="footer__nav">
                    <a class="footer__link" href="registro-empresa">Registro Empresa</a>
                    <a class="footer__link" href="cuenta-bancaria">Cuenta bancaria</a>
                    <a class="footer__link" href="ein">EIN</a>
                    <a class="footer__link" href="nosotros">Nosotros</a>
                    <a class="header__btn btn btn_transparent js-popup-open" data-effect="mfp-zoom-in" data-bs-toggle="modal" data-bs-target="#modal1">Contáctenos</a>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__copyright">© JP Inc. Designed by JP Team</div>
            <div class="footer__social"><a class="footer__link" href="#"><svg class="icon icon-facebook">
                        <use xlink:href="img/sprite.svg#icon-facebook"></use>
                    </svg></a><a class="footer__link" href="#"><svg class="icon icon-twitter">
                        <use xlink:href="img/sprite.svg#icon-twitter"></use>
                    </svg></a><a class="footer__link" href="#"><svg class="icon icon-instagram">
                        <use xlink:href="img/sprite.svg#icon-instagram"></use>
                    </svg></a></div>
        </div>
    </div>
    <label class="switch js-switch-theme">
        <input class="switch__input" type="checkbox" />
        <span class="switch__in"><span class="switch__box">
            </span><span class="switch__icon switch__icon_dark">
                <svg class="icon icon-dark">
                    <use xlink:href="img/sprite.svg#icon-dark"></use>
                </svg>
            </span>
            <span class="switch__icon switch__icon_light">
                <svg class="icon icon-light">
                    <use xlink:href="img/sprite.svg#icon-light"></use>
                </svg></span>
        </span>
    </label>
</div>