<!-- Wappler include head-page="file:///Users/juanpabloravelo/Desktop/Wappler/Contucarga/public/contucarga.html" appConnect="local" is="dmx-app" bootstrap4="local" fontawesome_4="local" jquery_slim_35="local" moment_2="cdn" -->
<div class="container">
    <div class="row text-center">
        <div class="col">
            <h1>Your Amazing Product</h1>
            <h2>Subtitle comes here.</h2>
            <p class="text-h3"><a href="#">Learn More &gt;</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Buy &gt;</a></p>
            <img alt="image" class="img-fluid mt-5" src="/img/hannes-egler-nT4k2JDtwTQ-unsplash-2.jpg">
        </div>
    </div>
</div>