<!-- Wappler include fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="promobanerpartial" appConnect="local" jquery_slim_35="cdn" -->

<script is="dmx-flow" id="flow1" type="text/dmx-flow"></script>


<div class="additiona_services_banner container-fluid" style="margin-bottom: 120px;">
    <div class="offer__center center">
        <div class="offer__container d-flex align-items-center flex-md-column flex-lg-row" style="/* padding: 60px */">
            <h2 class="offer__title h2 text-start text-center mb-md-4 mb-4" data-aos="animation-scale-top" data-aos-duration="600" style="/* font-size: 32px */">
                <%=_('Heading !=\'" "\'? Heading : " Hello"',locals)%>
            </h2><button class="offer__btn btn btn_orange style138 ms-xl-3" style="min-width: 180px;">
                <%=_(' Button_CTA==\'" "\'?  " Hello" : Button_CTA',locals)%>
            </button>
            <div class="offer__preview"></div>
        </div>
    </div>
</div>