<!-- Wappler include head-page="home" appconnect="local" is="dmx-app" bootstrap5="cdn" id="reviewpartial" jquery_slim_35="cdn" -->
<div class="review">
    <div class="review__center center">
        <h2 class="review__title h2">Lo que opinan nuestros clientes</h2>
        <div class="review__container">
            <div class="review__slider owl-carousel js-slider-review">
                <div class="review__item">
                    <div class="review__text">“Me proporcionaron las herramientas necesarias para que mi empresa creciera internacionalmente. Excelente atención y buen servicio.<br>5 estrellas!!!”</div>
                    <div class="review__rating">
                        <div class="review__icon"><img src="img/star-fill.svg" alt=""></div>
                        <div class="review__icon"><img src="img/star-fill.svg" alt=""></div>
                        <div class="review__icon"><img src="img/star-fill.svg" alt=""></div>
                        <div class="review__icon"><img src="img/star-fill.svg" alt=""></div>
                        <div class="review__icon"><img src="img/star-fill.svg" alt=""></div>
                    </div>
                    <div class="review__author">Cristina Millán</div>
                    <!-- <div class="review__company">Visual Designer at UI8</div> -->
                </div>
                <div class="review__item">
                    <div class="review__text">“Recibimos un servicio rápido y muy profesional. Logramos crear nuestra empresa y abrir nuestra cuenta bancaria en menos tiempo del que teníamos estipulado.”</div>
                    <div class="review__rating">
                        <div class="review__icon"><img src="img/star-fill.svg" alt=""></div>
                        <div class="review__icon"><img src="img/star-fill.svg" alt=""></div>
                        <div class="review__icon"><img src="img/star-fill.svg" alt=""></div>
                        <div class="review__icon"><img src="img/star-fill.svg" alt=""></div>
                        <div class="review__icon"><img src="img/star-fill.svg" alt=""></div>
                    </div>
                    <div class="review__author">Producciones CTCG</div>
                    <!-- <div class="review__company">via. Google Play</div> -->
                </div>
                <div class="review__item">
                    <div class="review__text">“¡Excelente servicio! Logramos abrir nuestra LLC, tramitar el EIN y abrir una cuenta bancaria para nuestro negocio de venta por Amazon en días sin viajar a los Estados Unidos."</div>
                    <div class="review__rating">
                        <div class="review__icon"><img src="img/star-fill.svg" alt=""></div>
                        <div class="review__icon"><img src="img/star-fill.svg" alt=""></div>
                        <div class="review__icon"><img src="img/star-fill.svg" alt=""></div>
                        <div class="review__icon"><img src="img/star-fill.svg" alt=""></div>
                        <div class="review__icon"><img src="img/star-fill.svg" alt=""></div>
                    </div>
                    <div class="review__author">Pedro Hernández</div>
                    <!-- <div class="review__company">via. Apple Store</div> -->
                </div>
                <div class="review__item">
                    <div class="review__text">“Creamos nuestra empresa en Florida, abrimos nuestra cuenta bancaria sin contratiempos. Serios y recomendables. Excelente valor por el precio de los servicios.”</div>
                    <div class="review__rating">
                        <div class="review__icon"><img src="img/star-fill.svg" alt=""></div>
                        <div class="review__icon"><img src="img/star-fill.svg" alt=""></div>
                        <div class="review__icon"><img src="img/star-fill.svg" alt=""></div>
                        <div class="review__icon"><img src="img/star-fill.svg" alt=""></div>
                        <div class="review__icon"><img src="img/star-fill.svg" alt=""></div>
                    </div>
                    <div class="review__author">Fabrizzio Stancione</div>
                    <!-- <div class="review__company">Visual Designer at UI8</div> -->
                </div>
                <div class="review__item">
                    <div class="review__text">“Muy satisfecha con el servicio y profesionalismo de los consultores que me guiaron durante todo el proceso.”</div>
                    <div class="review__rating">
                        <div class="review__icon"><img src="img/star-fill.svg" alt=""></div>
                        <div class="review__icon"><img src="img/star-fill.svg" alt=""></div>
                        <div class="review__icon"><img src="img/star-fill.svg" alt=""></div>
                        <div class="review__icon"><img src="img/star-fill.svg" alt=""></div>
                        <div class="review__icon"><img src="img/star-fill.svg" alt=""></div>
                    </div>
                    <div class="review__author">Silvana Verdine</div>
                    <!-- <div class="review__company">via. Google Play</div> -->
                </div>

            </div>
        </div>
    </div>
</div>