<!doctype html>
<html lang="es" is="dmx-app">

<head>
  <base href="/">
  <meta charset="UTF-8">
  <title>Untitled Document</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta content="Contucarga Servicio y Calidad Logística" name="description" />
  <meta content="" name="author" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <script src="dmxAppConnect/dmxAppConnect.js"></script>
  <!-- App favicon -->
  <link rel="shortcut icon" href="img/favicon/favicon-32x32.png">
  <link rel="stylesheet" href="dastone/plugins/jquery-steps/jquery.steps.css">
  <link href="dastone/plugins/lightpick/lightpick.css" rel="stylesheet" />
  <!-- App css -->
  <link rel="stylesheet" href="css/style.min.css" />
  <link href="bootstrap/5/css/bootstrap.min.css" rel="stylesheet" style="box-sizing: border-box;" />
  <link href="dastone/default/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="dastone/default/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
  <link href="dastone/default/assets/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
  <link href="dastone/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />
  <link href="dastone/default/assets/css/app.min.css" rel="stylesheet" type="text/css" />
  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
  <script src="dastone/default/assets/js/jquery.min.js"></script>
  <script src="dastone/default/assets/js/moment.js"></script>
  <script src="/dmxAppConnect/dmxBootstrap5Navigation/dmxBootstrap5Navigation.js" defer></script>


  <script src="/dmxAppConnect/dmxRouting/dmxRouting.js" defer></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="/dmxAppConnect/dmxSockets/dmxSockets.js" defer></script>
  <script src="/dmxAppConnect/dmxFormatter/dmxFormatter.js" defer></script>
  <script src="/dmxAppConnect/dmxDatePicker/daterangepicker.min.js" defer></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
  <link rel="stylesheet" href="/dmxAppConnect/dmxDatePicker/daterangepicker.min.css" />
  <link rel="stylesheet" href="/dmxAppConnect/dmxDatePicker/dmxDatePicker.css" />
  <script src="/dmxAppConnect/dmxDatePicker/dmxDatePicker.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" integrity="sha256-CutOzxCRucUsn6C6TcEYsauvvYilEniTXldPa6/wu0k=" crossorigin="anonymous"></script>


  <script src="/dmxAppConnect/dmxBootstrap5Offcanvas/dmxBootstrap5Offcanvas.js" defer></script>
  <script src="/dmxAppConnect/dmxDataTraversal/dmxDataTraversal.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap5Collapse/dmxBootstrap5Collapse.js" defer></script>
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="/dmxAppConnect/dmxValidator/dmxValidator.css" />
  <script src="/dmxAppConnect/dmxValidator/dmxValidator.js" defer></script>
  <script src="dmxAppConnect/dmxS3Upload/dmxS3Upload.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap4Toasts/dmxBootstrap4Toasts.js" defer></script>
  <script src="dmxAppConnect/dmxDownload/dmxDownload.js" defer></script>
  <script src="/dmxAppConnect/dmxBootbox/bootbox.all.min.js" defer></script>
  <script src="/dmxAppConnect/dmxBootbox/dmxBootbox.js" defer></script>
  <script src="dmxAppConnect/dmxBootbox5/bootstrap-modbox.min.js" defer></script>
  <script src="dmxAppConnect/dmxBootbox5/dmxBootbox5.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxBootstrap5TableGenerator/dmxBootstrap5TableGenerator.css" />
  <script src="/dmxAppConnect/dmxStateManagement/dmxStateManagement.js" defer></script>
  <script src="/dmxAppConnect/dmxDatastore/dmxDatastore.js" defer></script>
  <script src="dmxAppConnect/dmxBootstrap5PagingGenerator/dmxBootstrap5PagingGenerator.js" defer></script>
  <script src="/dmxAppConnect/dmxBrowser/dmxBrowser.js" defer></script>
  <link rel="stylesheet" href="dmxAppConnect/dmxLightbox/dmxLightbox.css" />
  <script src="dmxAppConnect/dmxLightbox/dmxLightbox.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxNotifications/dmxNotifications.css" />
  <script src="/dmxAppConnect/dmxNotifications/dmxNotifications.js" defer></script>
  <script src="dmxAppConnect/dmxBootstrap5Popovers/dmxBootstrap5Popovers.js" defer></script>
  <script src="dmxAppConnect/dmxBootstrap5Tooltips/dmxBootstrap5Tooltips.js" defer></script>
  <script src="dmxAppConnect/dmxMasonry/dmxMasonry.js" defer></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" integrity="sha384-ejwKkLla8gPP8t2u0eQyL0Q/4ItcnyveF505U0NIobD/SMsNyXrLti6CWaD0L52l" crossorigin="anonymous" />
</head>

<body id="app">
  <!-- Left Sidenav -->
  <div class="left-sidenav">
    <!-- LOGO -->
    <div class="brand">
      <a href="dastone/default/index.html" class="logo" style="top: 12px; left: 1%;">

        <div class="d-flex flex-row justify-content-center align-items-center">
          <img src="img/contucarga-logo.png" alt="logo-small" class="logo-sm">
          <h6 class="ms-2">Contu App</h6>
        </div>
        <div class="d-flex flex-row align-items-stretch visually-hidden">
          <img src="img/contucarga-logo.png" alt="logo-large" class="logo-lg logo-light">
          <img src="dastone/default/assets/images/logo-dark.png" alt="logo-large" class="logo-lg logo-dark">
        </div>
      </a>
    </div>
    <!--end logo-->
    <div class="menu-content-side h-100" data-simplebar>
      <ul class="metismenu left-sidenav-menu style198">
        <li class="menu-label mt-0">Menu Principal</li>
        <li style="/* display: flex */ /* align-items: flex-start */">
          <a href="javascript: void(0);"> <i data-feather="home" class="align-self-center menu-icon"></i><span>Tablero</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
          <ul class="nav-second-level style200" aria-expanded="false">
            <li class="nav-item"><a class="nav-link" href="/app-consultas" style="/* display: inline-flex */"><i class="ti-control-record"></i>Consultas</a></li>
          </ul>
        </li>
        <li style="/* display: flex */ /* align-items: flex-start */">
          <a href="javascript: void(0);"> <i data-feather="file-plus" class="align-self-center menu-icon"></i><span>Cotizaciones</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
          <ul class="nav-second-level style200" aria-expanded="false">
            <li class="nav-item"><a class="nav-link" href="/app-cotizaciones" style="/* display: inline-flex */"><i class="ti-control-record"></i>Activas</a></li>
            <li class="nav-item"><a class="nav-link" style="/* display: inline-flex */" href="app-cotizaciones/?filter=completadas"><i class="ti-control-record"></i>Completadas</a></li>

          </ul>
        </li>
        <li style="/* display: flex */ /* align-items: flex-start */">
          <a href="javascript: void(0);"> <i data-feather="clipboard" class="align-self-center menu-icon"></i><span>Embarques</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
          <ul class="nav-second-level style200" aria-expanded="false">
            <li class="nav-item"><a class="nav-link" href="/app-embarques" style="/* display: inline-flex */"><i class="ti-control-record"></i>Nueva Solicitud</a></li>
            <li class="nav-item"><a class="nav-link" style="/* display: inline-flex */" href="/app-lista-embarques"><i class="ti-control-record"></i>Activos</a></li>
            <li class="nav-item"><a class="nav-link" style="/* display: inline-flex */"><i class="ti-control-record"></i>Completados</a></li>

          </ul>
        </li>
        <li style="/* display: flex */ /* align-items: flex-start */">
          <a href="app-documentos"> <i data-feather="file-text" class="align-self-center menu-icon"></i><span>Documentos</span></a>
        </li>
        <li style="/* display: flex */ /* align-items: flex-start */">
        </li>
        <li style="/* display: flex */ /* align-items: flex-start */">
          <a href="app-lista-proveedores"> <i data-feather="briefcase" class="align-self-center menu-icon"></i><span>Proveedores</span></a>
        </li>
        <li style="/* display: flex */ /* align-items: flex-start */">
          <a href="app-contactos"> <i data-feather="users" class="align-self-center menu-icon"></i><span>Contactos</span></a>
        </li>
        <li style="/* display: flex */ /* align-items: flex-start */">
          <a href="app-perfil"> <i data-feather="user" class="align-self-center menu-icon"></i><span>Perfil</span></a>
        </li>


        <!-- <li>
          <a href="javascript: void(0);"><i data-feather="grid" class="align-self-center menu-icon"></i><span>Apps</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
          <ul class="nav-second-level" aria-expanded="false">
            <li>
              <a href="javascript: void(0);"><i class="ti-control-record"></i>Email <span class="menu-arrow left-has-menu"><i class="mdi mdi-chevron-right"></i></span></a>
              <ul class="nav-second-level" aria-expanded="false">
                <li><a href="/dastone/default/apps-email-inbox.html">Inbox</a></li>
                <li><a href="/dastone/default/apps-email-read.html">Read Email</a></li>
              </ul>
            </li>
            <li class="nav-item"><a class="nav-link" href="/dastone/default/apps-chat.html"><i class="ti-control-record"></i>Chat</a></li>
            <li class="nav-item"><a class="nav-link" href="/dastone/default/apps-contact-list.html"><i class="ti-control-record"></i>Contact List</a></li>
            <li class="nav-item"><a class="nav-link" href="/dastone/default/apps-calendar.html"><i class="ti-control-record"></i>Calendar</a></li>
            <li class="nav-item"><a class="nav-link" href="/dastone/default/apps-files.html"><i class="ti-control-record"></i>File Manager</a></li>
            <li class="nav-item"><a class="nav-link" href="/dastone/default/apps-invoice.html"><i class="ti-control-record"></i>Invoice</a></li>
            <li class="nav-item"><a class="nav-link" href="/dastone/default/apps-tasks.html"><i class="ti-control-record"></i>Tasks</a></li>
            <li>
              <a href="javascript: void(0);"><i class="ti-control-record"></i>Projects <span class="menu-arrow left-has-menu"><i class="mdi mdi-chevron-right"></i></span></a>
              <ul class="nav-second-level" aria-expanded="false">
                <li><a href="/dastone/default/apps-project-overview.html">Overview</a></li>
                <li><a href="/dastone/default/apps-project-projects.html">Projects</a></li>
                <li><a href="/dastone/default/apps-project-board.html">Board</a></li>
                <li><a href="/dastone/default/apps-project-teams.html">Teams</a></li>
                <li><a href="/dastone/default/apps-project-files.html">Files</a></li>
                <li><a href="/dastone/default/apps-new-project.html">New Project</a></li>
              </ul>
            </li>
            <li>
              <a href="javascript: void(0);"><i class="ti-control-record"></i>Ecommerce <span class="menu-arrow left-has-menu"><i class="mdi mdi-chevron-right"></i></span></a>
              <ul class="nav-second-level" aria-expanded="false">
                <li><a href="/dastone/default/apps-ecommerce-products.html">Products</a></li>
                <li><a href="/dastone/default/apps-ecommerce-product-list.html">Product List</a></li>
                <li><a href="/dastone/default/apps-ecommerce-product-detail.html">Product Detail</a></li>
                <li><a href="/dastone/default/apps-ecommerce-cart.html">Cart</a></li>
                <li><a href="/dastone/default/apps-ecommerce-checkout.html">Checkout</a></li>
              </ul>
            </li>
          </ul>
        </li> -->

        <!-- <li>
          <a href="javascript: void(0);"><i data-feather="lock" class="align-self-center menu-icon"></i><span>Authentication</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
          <ul class="nav-second-level" aria-expanded="false">
            <li class="nav-item"><a class="nav-link" href="/dastone/default/auth-login.html"><i class="ti-control-record"></i>Log in</a></li>
            <li class="nav-item"><a class="nav-link" href="/dastone/default/auth-register.html"><i class="ti-control-record"></i>Register</a></li>
            <li class="nav-item"><a class="nav-link" href="/dastone/default/auth-recover-pw.html"><i class="ti-control-record"></i>Recover Password</a></li>
            <li class="nav-item"><a class="nav-link" href="/dastone/default/auth-lock-screen.html"><i class="ti-control-record"></i>Lock Screen</a></li>
            <li class="nav-item"><a class="nav-link" href="/dastone/default/auth-404.html"><i class="ti-control-record"></i>Error 404</a></li>
            <li class="nav-item"><a class="nav-link" href="/dastone/default/auth-500.html"><i class="ti-control-record"></i>Error 500</a></li>
          </ul>
        </li>

        <hr class="hr-dashed hr-menu">
        <li class="menu-label my-2">Components & Extra</li>

        <li>
          <a href="javascript: void(0);"><i data-feather="box" class="align-self-center menu-icon"></i><span>UI Kit</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
          <ul class="nav-second-level" aria-expanded="false">
            <li>
              <a href="javascript: void(0);"><i class="ti-control-record"></i>UI Elements <span class="menu-arrow left-has-menu"><i class="mdi mdi-chevron-right"></i></span></a>
              <ul class="nav-second-level" aria-expanded="false">
                <li><a href="/dastone/default/ui-alerts.html">Alerts</a></li>
                <li><a href="/dastone/default/ui-avatar.html">Avatar</a></li>
                <li><a href="/dastone/default/ui-buttons.html">Buttons</a></li>
                <li><a href="/dastone/default/ui-badges.html">Badges</a></li>
                <li><a href="/dastone/default/ui-cards.html">Cards</a></li>
                <li><a href="/dastone/default/ui-carousels.html">Carousels</a></li>
                <li><a href="/dastone/default/ui-check-radio.html"><span>Check & Radio</span></a></li>
                <li><a href="/dastone/default/ui-dropdowns.html">Dropdowns</a></li>
                <li><a href="/dastone/default/ui-grids.html">Grids</a></li>
                <li><a href="/dastone/default/ui-images.html">Images</a></li>
                <li><a href="/dastone/default/ui-list.html">List</a></li>
                <li><a href="/dastone/default/ui-modals.html">Modals</a></li>
                <li><a href="/dastone/default/ui-navs.html">Navs</a></li>
                <li><a href="/dastone/default/ui-navbar.html">Navbar</a></li>
                <li><a href="/dastone/default/ui-offcanvas.html">Offcanvas <span class="badge badge-soft-success ms-auto">New</span></a></li>
                <li><a href="/dastone/default/ui-paginations.html">Paginations</a></li>
                <li><a href="/dastone/default/ui-popover-tooltips.html">Popover & Tooltips</a></li>
                <li><a href="/dastone/default/ui-progress.html">Progress</a></li>
                <li><a href="/dastone/default/ui-spinners.html">Spinners</a></li>
                <li><a href="/dastone/default/ui-tabs-accordions.html">Tabs & Accordions</a></li>
                <li><a href="/dastone/default/ui-toasts.html">Toasts</a></li>
                <li><a href="/dastone/default/ui-typography.html">Typography</a></li>
                <li><a href="/dastone/default/ui-videos.html">Videos</a></li>
              </ul>
            </li>
            <li>
              <a href="javascript: void(0);"><i class="ti-control-record"></i>Advanced UI <span class="menu-arrow left-has-menu"><i class="mdi mdi-chevron-right"></i></span></a>
              <ul class="nav-second-level" aria-expanded="false">
                <li><a href="/dastone/default/advanced-animation.html">Animation</a></li>
                <li><a href="/dastone/default/advanced-clipboard.html">Clip Board</a></li>
                <li><a href="/dastone/default/advanced-highlight.html">Highlight</a></li>
                <li><a href="/dastone/default/advanced-idle-timer.html">Idle Timer</a></li>
                <li><a href="/dastone/default/advanced-kanban.html">Kanban</a></li>
                <li><a href="/dastone/default/advanced-lightbox.html">Lightbox</a></li>
                <li><a href="/dastone/default/advanced-nestable.html">Nestable List</a></li>
                <li><a href="/dastone/default/advanced-rangeslider.html">Range Slider</a></li>
                <li><a href="/dastone/default/advanced-ratings.html">Ratings</a></li>
                <li><a href="/dastone/default/advanced-ribbons.html">Ribbons</a></li>
                <li><a href="/dastone/default/advanced-session.html">Session Timeout</a></li>
                <li><a href="/dastone/default/advanced-sweetalerts.html">Sweet Alerts</a></li>
              </ul>
            </li>
            <li>
              <a href="javascript: void(0);"><i class="ti-control-record"></i>Forms <span class="menu-arrow left-has-menu"><i class="mdi mdi-chevron-right"></i></span></a>
              <ul class="nav-second-level" aria-expanded="false">
                <li><a href="/dastone/default/forms-advanced.html">Advance Elements</a></li>
                <li><a href="/dastone/default/forms-elements.html">Basic Elements</a></li>
                <li><a href="/dastone/default/forms-editors.html">Editors</a></li>
                <li><a href="/dastone/default/forms-uploads.html">File Upload</a></li>
                <li><a href="/dastone/default/forms-repeater.html">Repeater</a></li>
                <li><a href="/dastone/default/forms-validation.html">Validation</a></li>
                <li><a href="/dastone/default/forms-wizard.html">Wizard</a></li>
                <li><a href="/dastone/default/forms-x-editable.html">X Editable</a></li>

              </ul>
            </li>
            <li>
              <a href="javascript: void(0);"><i class="ti-control-record"></i>Charts <span class="menu-arrow left-has-menu"><i class="mdi mdi-chevron-right"></i></span></a>
              <ul class="nav-second-level" aria-expanded="false">
                <li><a href="/dastone/default/charts-apex.html">Apex</a></li>
                <li><a href="/dastone/default/charts-chartjs.html">Chartjs</a></li>
                <li><a href="/dastone/default/charts-flot.html">Flot</a></li>
                <li><a href="/dastone/default/charts-morris.html">Morris</a></li>
              </ul>
            </li>
            <li>
              <a href="javascript: void(0);"><i class="ti-control-record"></i>Tables <span class="menu-arrow left-has-menu"><i class="mdi mdi-chevron-right"></i></span></a>
              <ul class="nav-second-level" aria-expanded="false">
                <li><a href="/dastone/default/tables-basic.html">Basic</a></li>
                <li><a href="/dastone/default/tables-datatable.html">Datatables</a></li>
                <li><a href="/dastone/default/tables-editable.html">Editable</a></li>
                <li><a href="/dastone/default/tables-responsive.html">Responsive</a></li>

              </ul>
            </li>
            <li>
              <a href="javascript: void(0);"><i class="ti-control-record"></i>Icons <span class="menu-arrow left-has-menu"><i class="mdi mdi-chevron-right"></i></span></a>
              <ul class="nav-second-level" aria-expanded="false">

                <li><a href="/dastone/default/icons-dripicons.html">Dripicons</a></li>
                <li><a href="/dastone/default/icons-feather.html">Feather</a></li>
                <li><a href="/dastone/default/icons-fontawesome.html">Font awesome</a></li>
                <li><a href="/dastone/default/icons-materialdesign.html">Material Design</a></li>
                <li><a href="/dastone/default/icons-themify.html">Themify</a></li>
                <li><a href="/dastone/default/icons-typicons.html">Typicons</a></li>
              </ul>
            </li>
            <li>
              <a href="javascript: void(0);"><i class="ti-control-record"></i>Maps <span class="menu-arrow left-has-menu"><i class="mdi mdi-chevron-right"></i></span></a>
              <ul class="nav-second-level" aria-expanded="false">
                <li><a href="/dastone/default/maps-google.html">Google Maps</a></li>
                <li><a href="/dastone/default/maps-leaflet.html">Leaflet Maps</a></li>
                <li><a href="/dastone/default/maps-vector.html">Vector Maps</a></li>
              </ul>
            </li>
            <li>
              <a href="javascript: void(0);"><i class="ti-control-record"></i>Email Template <span class="menu-arrow left-has-menu"><i class="mdi mdi-chevron-right"></i></span></a>
              <ul class="nav-second-level" aria-expanded="false">
                <li><a href="/dastone/default/email-templates-alert.html">Alert Email</a></li>
                <li><a href="/dastone/default/email-templates-basic.html">Basic Action Email</a></li>
                <li><a href="/dastone/default/email-templates-billing.html">Billing Email</a></li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="/dastone/default/widgets.html"><i data-feather="layers" class="align-self-center menu-icon"></i><span>Widgets</span><span class="badge badge-soft-success menu-arrow">New</span></a>
        </li>

        <li>
          <a href="javascript: void(0);"><i data-feather="file-plus" class="align-self-center menu-icon"></i><span>Pages</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
          <ul class="nav-second-level" aria-expanded="false">
            <li class="nav-item"><a class="nav-link" href="/dastone/default/pages-blogs.html"><i class="ti-control-record"></i>Blogs</a></li>
            <li class="nav-item"><a class="nav-link" href="/dastone/default/pages-faqs.html"><i class="ti-control-record"></i>FAQs</a></li>
            <li class="nav-item"><a class="nav-link" href="/dastone/default/pages-pricing.html"><i class="ti-control-record"></i>Pricing</a></li>
            <li class="nav-item"><a class="nav-link" href="/dastone/default/pages-profile.html"><i class="ti-control-record"></i>Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="/dastone/default/pages-starter.html"><i class="ti-control-record"></i>Starter Page</a></li>
            <li class="nav-item"><a class="nav-link" href="/dastone/default/pages-timeline.html"><i class="ti-control-record"></i>Timeline</a></li>
            <li class="nav-item"><a class="nav-link" href="/dastone/default/pages-treeview.html"><i class="ti-control-record"></i>Treeview</a></li>
          </ul>
        </li> -->
      </ul>

      <!-- <div class="update-msg text-center">
        <a href="javascript: void(0);" class="float-end close-btn text-muted" data-dismiss="update-msg" aria-label="Close" aria-hidden="true">
          <i class="mdi mdi-close"></i>
        </a>
        <h5 class="mt-3">Mannat Themes</h5>
        <p class="mb-3">We Design and Develop Clean and High Quality Web Applications</p>
        <a href="javascript: void(0);" class="btn btn-outline-warning btn-sm">Upgrade your plan</a>
      </div> -->
    </div>
  </div>
  <!-- end left-sidenav-->

  <div class="page-wrapper">
    <!-- Top Bar Start -->
    <div class="topbar">
      <!-- Navbar -->
      <nav class="navbar-custom">
        <ul class="list-unstyled topbar-nav float-end mb-0">
          <li class="dropdown hide-phone">
            <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
              <i data-feather="search" class="topbar-icon"></i>
            </a>

            <div class="dropdown-menu dropdown-menu-end dropdown-lg p-0">
              <!-- Top Search Bar -->
              <div class="app-search-topbar">
                <form action="#" method="get">
                  <input type="search" name="search" class="from-control top-search mb-0" placeholder="Type text...">
                  <button type="submit"><i class="ti-search"></i></button>
                </form>
              </div>
            </div>
          </li>

          <li class="dropdown notification-list">
            <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
              <i data-feather="bell" class="align-self-center topbar-icon"></i>
              <span class="badge bg-danger rounded-pill noti-icon-badge">2</span>
            </a>
            <div class="dropdown-menu dropdown-menu-end dropdown-lg pt-0">

              <h6 class="dropdown-item-text font-15 m-0 py-3 border-bottom d-flex justify-content-between align-items-center">
                Notifications <span class="badge bg-primary rounded-pill">2</span>
              </h6>
              <div class="notification-menu" data-simplebar>
                <!-- item-->
                <a href="#" class="dropdown-item py-3">
                  <small class="float-end text-muted ps-2">2 min ago</small>
                  <div class="media">
                    <div class="avatar-md bg-soft-primary">
                      <i data-feather="shopping-cart" class="align-self-center icon-xs"></i>
                    </div>
                    <div class="media-body align-self-center ms-2 text-truncate">
                      <h6 class="my-0 fw-normal text-dark">Your order is placed</h6>
                      <small class="text-muted mb-0">Dummy text of the printing and industry.</small>
                    </div>
                    <!--end media-body-->
                  </div>
                  <!--end media-->
                </a>
                <!--end-item-->
                <!-- item-->
                <a href="#" class="dropdown-item py-3">
                  <small class="float-end text-muted ps-2">10 min ago</small>
                  <div class="media">
                    <div class="avatar-md bg-soft-primary">
                      <img src="dastone/default/assets/images/users/user-4.jpg" alt="" class="thumb-sm rounded-circle">
                    </div>
                    <div class="media-body align-self-center ms-2 text-truncate">
                      <h6 class="my-0 fw-normal text-dark">Meeting with designers</h6>
                      <small class="text-muted mb-0">It is a long established fact that a reader.</small>
                    </div>
                    <!--end media-body-->
                  </div>
                  <!--end media-->
                </a>
                <!--end-item-->
                <!-- item-->
                <a href="#" class="dropdown-item py-3">
                  <small class="float-end text-muted ps-2">40 min ago</small>
                  <div class="media">
                    <div class="avatar-md bg-soft-primary">
                      <i data-feather="users" class="align-self-center icon-xs"></i>
                    </div>
                    <div class="media-body align-self-center ms-2 text-truncate">
                      <h6 class="my-0 fw-normal text-dark">UX 3 Task complete.</h6>
                      <small class="text-muted mb-0">Dummy text of the printing.</small>
                    </div>
                    <!--end media-body-->
                  </div>
                  <!--end media-->
                </a>
                <!--end-item-->
                <!-- item-->
                <a href="#" class="dropdown-item py-3">
                  <small class="float-end text-muted ps-2">1 hr ago</small>
                  <div class="media">
                    <div class="avatar-md bg-soft-primary">
                      <img src="dastone/default/assets/images/users/user-5.jpg" alt="" class="thumb-sm rounded-circle">
                    </div>
                    <div class="media-body align-self-center ms-2 text-truncate">
                      <h6 class="my-0 fw-normal text-dark">Your order is placed</h6>
                      <small class="text-muted mb-0">It is a long established fact that a reader.</small>
                    </div>
                    <!--end media-body-->
                  </div>
                  <!--end media-->
                </a>
                <!--end-item-->
                <!-- item-->
                <a href="#" class="dropdown-item py-3">
                  <small class="float-end text-muted ps-2">2 hrs ago</small>
                  <div class="media">
                    <div class="avatar-md bg-soft-primary">
                      <i data-feather="check-circle" class="align-self-center icon-xs"></i>
                    </div>
                    <div class="media-body align-self-center ms-2 text-truncate">
                      <h6 class="my-0 fw-normal text-dark">Payment Successfull</h6>
                      <small class="text-muted mb-0">Dummy text of the printing.</small>
                    </div>
                    <!--end media-body-->
                  </div>
                  <!--end media-->
                </a>
                <!--end-item-->
              </div>
              <!-- All-->
              <a href="javascript:void(0);" class="dropdown-item text-center text-primary">
                View all <i class="fi-arrow-right"></i>
              </a>
            </div>
          </li>

          <li class="dropdown">
            <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
              <span class="ms-1 nav-user-name hidden-sm">Nick</span>
              <img src="dastone/default/assets/images/users/user-5.jpg" alt="profile-user" class="rounded-circle thumb-xs" />
            </a>
            <div class="dropdown-menu dropdown-menu-end">
              <a class="dropdown-item" href="#"><i data-feather="user" class="align-self-center icon-xs icon-dual me-1"></i> Profile</a>
              <a class="dropdown-item" href="#"><i data-feather="settings" class="align-self-center icon-xs icon-dual me-1"></i> Settings</a>
              <div class="dropdown-divider mb-0"></div>
              <a class="dropdown-item" href="#"><i data-feather="power" class="align-self-center icon-xs icon-dual me-1"></i> Logout</a>
            </div>
          </li>
        </ul>
        <!--end topbar-nav-->

        <ul class="list-unstyled topbar-nav mb-0">
          <li>
            <button class="nav-link button-menu-mobile">
              <i data-feather="menu" class="align-self-center topbar-icon"></i>
            </button>
          </li>
          <li class="creat-btn">
            <div class="nav-link">
              <a class=" btn btn-sm btn-soft-primary" role="button" href="app-embarques"><i class="fas fa-plus me-2"></i>Nuevo Embarque</a>
            </div>
          </li>
        </ul>
      </nav>
      <!-- end navbar-->
    </div>
    <!-- Top Bar End -->

    <div is="dmx-view" id="content">
      <%- await include(content, locals); %>

    </div>

  </div>
  <!-- end page-wrapper -->

  <!-- jQuery  -->


  <script src="bootstrap/5/js/bootstrap.bundle.min.js"></script>
  <script src="dastone/default/assets/js/metismenu.min.js"></script>
  <script src="dastone/default/assets/js/waves.js"></script>
  <script src="dastone/default/assets/js/feather.min.js"></script>
  <script src="dastone/default/assets/js/simplebar.min.js"></script>
  <script src="dastone/plugins/daterangepicker/daterangepicker.js"></script>
  <script src="dastone/plugins/lightpick/lightpick.js"></script>
  <script src="dastone/default/assets/pages/jquery.projects_new.init.js"></script>
  <script src="dastone/plugins/jquery-steps/jquery.steps.min.js"></script>
  <script src="dastone/default/assets/pages/jquery.form-wizard.init.js"></script>


  <!-- App js -->
  <script src="dastone/default/assets/js/app.js"></script>
  <script src="bootstrap/5/js/bootstrap.min.js"></script>

</body>

</html>