// JavaScript Document
class theElement extends HTMLElement {
  constructor() {
    super();
    this.name;
    this.surname;
    this.parragraph; 
    this.color; 
  }

  static get observedAttributes() {
    return ['name', "surname", "parragraph", "color"];
  }

  attributeChangedCallback(nameAttr, oldValue, newValue) {
    switch (nameAttr) {
      case "name":
        this.name = newValue;
        break;
      case "surname":
        this.surname = newValue;
        break;
      case "parragraph":
        this.parragraph = newValue;
        break;
      case "color":
        this.color = newValue;
        break;
    }
  }

  connectedCallback() {
    this.innerHTML = `
            <div class="invite container-fluid top-margin-120">
            <div class="invite__center center">
                <div class="invite__container d-flex">
                    <div class="invite__bg"></div>
                    <div class="invite__wrap">
                        <h2 class="invite__title d1" data-aos="animation-scale-top" data-aos-duration="600">Comience su empresa hoy</h2>
                        <p class="invite__text">No espere más por el negocio de sus sueños. Comience su proceso en línea o contáctenos para comenzar su empresa.&nbsp;</p><button class="invite__btn btn btn_orange" dmx-on:click="" data-bs-toggle="modal" data-bs-target="#modal1">Comience Ahora</button>
                    </div>
                    <div class="invite__gallery">
                        <div class="invite__preview">
                            <img src="img/figures-7.1-opt.png" alt="" loading="lazy">
                        </div>
                        <div class="invite__preview" data-aos="animation-translate-down" data-aos-duration="800">
                            <img src="solo/img/figures-2.3.png" alt="" loading="lazy">
                        </div>
                    </div>
                </div>
            </div>
        </div>
     `;
    this.style.color = "${this.color}";
    this.style.fontFamily = "sans-serif";
  }
}

window.customElements.define('the-element', theElement);